.partner-dropdown {
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%); 
  background: #ffffff;
  padding: 16px 24px;
  width: 300px; 
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  justify-content: flex-start;
}

.partnercolumns {
  width: 100%;
}

.column {
  flex: 1;
}

.column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.column ul li:hover {
  color: #06A3DA;
}


@media (max-width: 768px) {
  .partner-dropdown {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    padding: 16px;
  }

  .column {
    width: 100%;
    margin-bottom: 16px;
  }

  .column ul li {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .partner-dropdown {
    padding: 14px;
  }

  .column ul li {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .column ul li svg {
    font-size: 14px;
  }
}